@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$menu-color: rgb(181, 47, 105);

html {
  height: 100vh;
}

header {
  nav {
    background-color: $menu-color;
  }

  svg {
    fill: $menu-color;
    margin-top: -1px;
  }
}

.active {
  @apply text-gray-800;
}

img {
  max-width: 100%;
}

.map {
  max-width: 600px;
}

iframe {
  border: 0;
}

#transition {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 60%;
  left: 0;
  transform: translate(0, 0);
  width: 100vw;
  height: 164vh;
  transition: all 0.6s ease;
  background: linear-gradient(to bottom, $menu-color 65%, transparent 65%);
  z-index: 1;

  @media (max-width: 1600px) {
    background: linear-gradient(to bottom, $menu-color 75%, transparent 75%);
  }
  @media (max-width: 1370px) {
    background: linear-gradient(to bottom, $menu-color 80%, transparent 80%);
    bottom: 70%;
  }
  @media (max-width: 999px) {
    bottom: 80%;
  }

  .bg {
    background-color: $menu-color;
    height: 70%;
  }

  .sauce {
    transform: scaleY(0.15);
    transition: all 0.6s ease;

    svg {
      fill: $menu-color;
    }
  }

  &.is-transitioning {
    transform: translate(0, 66%);

    @media (max-width: 999px) {
      transform: translate(0, 70%);
    }
    @media (max-width: 500px) {
      transform: translate(0, 75%);
    }

    .sauce {
      transform: scaleY(1);
    }
  }
}
